body {
	background: #000000;
}
.bgBox {
	display: inline;
	background-color: #303030;
	height: 660px;
	width: 630px;
	border-radius: 10px 0px 0px 10px;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.container {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 100px;
}
h1 {
	text-align: center;
	margin-top: 34px;
	height: 25px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 61px;
	letter-spacing: 2.8px;
	color: #ffffff;
}
.carrousel {
	overflow: hidden;
	height: 660px;
	width: 453px;
	border-radius: 0px 10px 10px 0px;
}
.box {
	height: 660px;
	max-width: 1083px;
	margin-top: 180px;
	padding: 0px;
}
.profileSVG {
	background-color: #303030;
	margin: 15px;
	width: 20px;
	height: 20px;
	color: #d1d1d1;
}
.userPass {
	display: flex;
	justify-content: flex-end;
}
.SVGBox {
	background-color: #303030;
	width: 52px;
	height: 52px;
	border: 1px solid #8f8f8f;
	border-right: 0px;
	box-sizing: border-box;
	border-radius: 8px 0px 0px 8px;
}
.inputPass {
	background-color: #303030;
	width: 278px;
	height: 52px;
	top: 29.3%;
	bottom: 65.62%;
	border: 1px solid #8f8f8f;
	border-radius: 0px 8px 8px 0px;
	box-sizing: border-box;
	padding-left: 15px;
	font-family: Open Sans;
	font-size: 14px;
	color: #8f8f8f;
	line-height: 19px;
	outline: none;
}
.inputUser {
	background-color: #303030;
	width: 278px;
	height: 52px;
	top: 29.3%;
	bottom: 65.62%;
	border: 1px solid #8f8f8f;
	border-radius: 0px 8px 8px 0px;
	box-sizing: border-box;
	padding-left: 15px;
	font-family: Open Sans;
	color: #8f8f8f;
	font-size: 14px;
	line-height: 19px;
	outline: none;
}
.key {
	height: 9px;
	width: 21px;
	margin-top: 22px;
	margin-left: 16px;
}

.loginButton {
	width: 100px;
	height: 40px;
	background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
	border-radius: 8px;
	border-width: 0px;
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
}
.loginButton:hover {
	background: #7cd235;
}
.loginButton:active {
	background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
}
.checkboxInput {
	background-color: #303030;
	left: 22.92%;
	right: 75.69%;
	top: 45.51%;
	bottom: 52.54%;
	border: 1px solid #8f8f8f;
	box-sizing: border-box;
	border-radius: 4px;
}
.checkboxLabel {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #8f8f8f;
}
.p-150 {
	padding-right: 150px;
	padding-left: 150px;
}
.pt-57 {
	padding-top: 57px;
}
.pt-24 {
	padding-top: 24px;
}
.pt-25 {
	padding-top: 25px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-21 {
	padding-top: 21px;
}
.pt-42 {
	padding-top: 42px;
}
.pt-32 {
	padding-top: 32px;
}
.registerNow {
	height: 19px;
	left: 22.92%;
	right: 71.18%;
	top: calc(50% - 19px / 2 + 8.5px);
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
	color: #ffffff;
}
.forgotPassword {
	text-align: right;
	height: 19px;
	left: 37.78%;
	right: 54.17%;
	top: calc(50% - 19px / 2 + 8.5px);
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: right;
	text-decoration: none;
	color: #ffffff;
}
.form-container {
	display: flex;
	flex-direction: column;
}
.rememberAndLogin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.registerAndForgot {
	display: flex;
	justify-content: space-between;
	font-style: normal;
	font-weight: normal;
}
.orSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.line {
	width: 134px;
	background-color: #ffffff;
	border: 1px solid #ffffff;
}
.or {
	margin-top: 0px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
}
.facebook {
	display: flex;
	justify-content: center;
}
.faceImage {
	background: #263c68;
	border-radius: 8px 0px 0px 8px;
	width: 46.55px;
	height: 40px;
}
.faceSVG {
	width: 20px;
	height: 18px;
	margin-top: 11px;
	margin-left: 13px;
}
.logFace {
	background: #3b5998;
	width: 193.45px;
	height: 40px;
	border-radius: 0px 8px 8px 0px;
	border-width: 0px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.twitter {
	display: flex;
	justify-content: center;
}
.twitterImage {
	background: #0695cb;
	border-radius: 8px 0px 0px 8px;
	width: 46.55px;
	height: 40px;
}
.logTwitter {
	background: #00aced;
	width: 193.45px;
	height: 40px;
	border-radius: 0px 8px 8px 0px;
	border-width: 0px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.twitterSVG {
	width: 20px;
	height: 16px;
	margin-top: 12px;
	margin-left: 14.73px;
}
.google {
	display: flex;
	justify-content: center;
}
.googleImage {
	background: #9d9d9d;
	border-radius: 8px 0px 0px 8px;
	width: 46.55px;
	height: 40px;
}
.logGoogle {
	background: #c7c7c7;
	border-radius: 0px 8px 8px 0px;
	border-width: 0px;
	width: 193.45px;
	height: 40px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
.googleSVG {
	width: 14px;
	height: 14px;
	margin-left: 15.55px;
	margin-top: 13.56px;
}

.seePass {
	position: absolute;
	margin-top: 19px;
	margin-right: 14px;
	background-image: url(showpass.svg);
	background-color: #303030;
	border: 0px;
	width: 20px;
	height: 14px;
}
@media screen and (max-width: 1100px) {
	.carrousel {
		display: none;
	}
	.bgBox {
		background-color: #303030;
		height: 660px;
		width: 630px;
		border-radius: 10px;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
	}
}
@media screen and (max-width: 660px) {
	body {
		background-color: #303030;
	}
	.container {
		padding-top: 0px;
	}
}
.carrouselImages {
	width: 700%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;

	transition: all 1s ease;
	transform: translateX(0%);
}
.img {
	width: calc(100% / 7);
}
.points {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
    bottom: 60px;
}
.point {
	height: 10px;
	width: 10px;
	margin: 4.5px;
	fill: white;
	display: flex;
	align-items: center;
}
.circleSVG{
	fill: #303030;
}
.active{
	fill: white;
}
.googleImage,
.logGoogle,
.twitterImage,
.logTwitter,
.faceImage,
.logFace,
.loginButton,
.checkboxInput,
.seePass,
.circleSVG {
	cursor: pointer;
}